body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial;
}

button {
  font-family: Tahoma, Arial;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.slider {
  margin: 40px 0;
}

.slider__items {
  position: relative;
  display: block;
}

.slider__items::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  visibility: hidden;
}

.slider__item {
  display: block;
  /* width: 25%; */
  width: 100%;
  float: left;
  color: #fff;
  background-color: #333;
  font-size: 0;
  text-align: center;
}

.slider__item--c1 { background-color: #F4511E; }
.slider__item--c2 { background-color: #E91E63; }
.slider__item--c3 { background-color: #9C27B0; }
.slider__item--c4 { background-color: #3F51B5; }
.slider__item--c5 { background-color: #0288D1; }
.slider__item--c6 { background-color: #009688; }
.slider__item--c7 { background-color: #558B2F; }
.slider__item--c8 { background-color: #d1b828; }

/* debug */
/* .potatoSwiper__item--clone > .slider__item { background-color: #333; } */

.slider__item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  min-height: 240px;
  visibility: hidden;
}

@media only screen and (min-width: 640px) {
  .slider__item--large::before { min-height: 480px; }
}

.slider__text {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.slider__navs {
  margin-top: 20px;
  text-align: center;
}

.slider__nav {
  border: 0;
  min-width: 80px;
  padding: 6px 4px;
  font-size: 14px;
  line-height: 16px;
  background-color: #333;
  color: #fff;
}

.slider__nav:hover {
  background-color: #666;
}

.slider__dots {
  margin-top: 20px;
  text-align: center;
}

.slider__dot {
  border: 0;
  width: 20px;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 14px;
  background-color: #333;
  color: #fff;
}

.slider__dot:hover {
  background-color: #666;
}

/* @media only screen and (max-width: 768px) {
  .slider__slide {
    width: 50%;
  }
}

@media only screen and (max-width: 420px) {
  .slider__slide {
    width: 100%;
  }
} */